---
layout: default
---


  <header class="site-masthead">
    {% include menu.html %}
    {% if site.title %}
      <h1>
        {{ site.title }}
      </h1>
    {% endif %}
    {% if site.title %}
      <h4>
        {{ site.description }}
      </h4>
    {% endif %}
  </header>

<main class="home" id="main" role="main" aria-label="Content">
  <h1 class="content-title divided">
      <figure>
        <img alt="Singleton Socrates" src="assets/images/GandMe-singleton.jpg"
        width="250" />
      </figure>
  </h1>
<br>

</main>
   {% include footer.html %}